                            /* body {
        background-image: url('s2.png');
        background-size: 30%, cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top 70% right 50%;
        box-sizing: content-box;
        width: 100%;
        opacity: 20;
        background-color: rgb(204, 204, 204);
    } */
                            
                            body {
                                background-color: rgb(204, 204, 204);
                            }
                            
                            p {
                                font-weight: 900px;
                                font-size: 20px;
                                margin-left: 50px;
                                margin-top: 80px;
                            }
                            
                            #intro {
                                position: absolute;
                                left: 0px;
                                width: 350px;
                                border: 2px solid gray;
                                padding: 0px;
                                text-align: center;
                                margin-left: 340px;
                                margin-top: -20px;
                            }
                            
                            #intro p {
                                line-height: 1.5;
                                display: inline-block;
                                vertical-align: middle;
                                display: table-cell;
                                padding-top: 30px;
                                padding-bottom: 30px;
                                font-family: 'Shippori Mincho', serif;
                                font-size: 18px;
                            }
                            
                            .topnav {
                                background-color: rgb(153, 153, 153);
                                height: 10%;
                                top: 0px;
                                width: 100%;
                                position: absolute;
                                left: 0;
                                right: 0;
                                text-align: right;
                                display: inline-block;
                            }
                            
                            .topnav a {
                                color: #f2f2f2;
                                padding: 10px 16px;
                                text-decoration: none;
                                font-size: 17px;
                                display: inline-block;
                                padding-top: 10px;
                                font-family: 'Shippori Mincho', serif;
                                font-weight: 100px;
                                font-size: 30px;
                            }
                            
                            a:nth-of-type(1) {
                                float: left;
                            }
                            
                            #sur {
                                object-fit: scale-down;
                                width: 400px;
                                height: 500px;
                                float: right;
                                margin-right: 290px;
                                margin-top: 0px;
                            }
                            
                            #contact {
                                width: 100px;
                                text-align: center;
                                margin: auto;
                                width: 30%;
                                margin-top: 10px;
                            }
                            
                            #contact p {
                                line-height: 1;
                                vertical-align: middle;
                                font-size: 25px;
                                font-weight: 500;
                                text-decoration: none;
                                padding: -50px;
                                flex-direction: row;
                            }
                            
                            #who {
                                width: 80%;
                                height: 100%;
                                margin-top: -140px;
                                margin-left: 140px;
                            }
                            
                            .mark {
                                font-family: 'Indie Flower', cursive;
                                font-size: 40px;
                            }
                            
                            .fa-facebook {
                                background: #3B5998;
                                color: white;
                            }
                            
                            .fa-linkedin {
                                background: #007bb5;
                                color: white;
                            }
                            
                            .fa-instagram {
                                background: #125688;
                                color: white;
                            }
                            
                            .fa {
                                padding: 20px;
                                font-size: 30px;
                                width: 50px;
                                text-align: center;
                                text-decoration: none;
                                margin: 5px 2px;
                            }
                            
                            .fa:hover {
                                opacity: 0.8;
                            }
                            
                            .topnav a:hover {
                                color: rgb(36, 34, 34);
                                background: #a3a092;
                                visibility: none;
                                opacity: 0.9;
                                z-index: -1;
                            }
                            
                            .footer {
                                position: fixed;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                background-color: rgb(153, 153, 153);
                                color: white;
                                text-align: center;
                            }